mat-card {
  border-radius: 25px;
  background: #4CAF50;
  width: 300px;
  height: 450px;
  padding: 20px;
  left:40%;
}

mat-card-title {
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

mat-card-subtitle {
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

mat-card-content {
  font-family: "Source Code Pro", monospace;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  left:20%;
  background-size: contain;
  border-radius: 50%;
}
