a {
  color: white;
}

div {
  margin-left: 0px;
  background-color: #4CAF50;
  height: 300px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-width: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
