mat-drawer, mat-drawer-container {
  background-color: transparent;
}
.mat-drawer-side {
  border-right: transparent;
}
mat-card-header div {
  background-color: #736ba0;
  width: 100%;
  margin: 0px;
}
